.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    border-radius: 20px;
   margin-left: 20px;
 
  }
  .container{
    margin-top: 70px;
    width: 24.67%;
  }
  
  .price {
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .btn button {
    border: none;
    outline: 0;
  padding: 12px 38px;
 
    background-color: rgb(45, 75, 245);
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  
  }
  
  .btn button:hover {
    opacity: 0.7;
   
  }
  .zoom {
    cursor: pointer;
    transition: transform .1s;
}


.zoom:hover {
    transform: scale(1.05);

}

.span{
    color: green;
}

.inbtn button{
    width: 2rem;
    height: 2rem;
    margin-left: 50px;
    margin-right: 50px;
   cursor: pointer;
   border: 1px solid #fff;
   background-color: #ffffff;

   font-size: 18px;
}




   
