.popup{
    position:fixed;
    width: 100%;
    height: 100%;
    left: 1000;
    right: 0;
    top: 0;
    /* background-color: rgba(0, 0,  0, 0.5); */
    background-color: #fff;
    display: flex;
  padding-top: 70px;
  transition-delay: 1sm;
}



.popup.active{
    display: flex;
}

.popupin{
    background-color: #fff;
    color: #fff;
    padding: 90px;
    position: relative;
}
.close{
    position: absolute;
    cursor: pointer;
    background-color: red;
    border-radius: 20%;
    padding: 5px 10px ;
    border: 1px solid red;
    right: 0px;
    top: 53px;
    color: #fff;

}
.tab{
    background-color: #fff;
   
}
.padgtop{
    padding-top: 70px;
}


.bg {
    color: hsl( 259, 100%, 75%)!important;
}



.lgt-clr {
    color: #8e8e8e!important;
}

.txt-cen {
    text-align: center;
    padding-top: 70px;
}

.pdg {
    padding-top: 40px;
}



.get-more-sec {
    text-align: center;
}

.dis {
    display: inline-block;
}

.pd-bt {
    padding-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td,
th {
    text-align: center;
    font-size: 16px;
    padding: 16px;
}

.violet {
     /* background-color: hsl( 259, 100%, 75%);  */
     background-color: hsl(302, 68%, 34%); 
    color: #fff;
}

.lgt-violet {
    /* background-color: rgb(240, 235, 250);  */
    background-color: rgb(170, 61, 198);
    
}

.tik-cen {
    width: 24px;
    position: relative;
    left: 45px;
}
.pop button{
    cursor: pointer;
    padding: 5px 20px;
    background-color: #f40e0e;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #f40e0e;
}

.pop button:hover{
    background-color: rgb(163, 9, 9);
    
}
.padgtop{
    padding-top: 70px;
}