/* FOOTER SECTION */

.footer {
    margin-top: 15px;
    padding: 20px 8px;
    background-color: #172337;
    color: #aaa8a8;
}

.footer .grid-item ul {
    list-style-type: none;
}

.footer .grid-item ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}

.footer .grid-item ul li a:hover {
    color: #086ff6;
}

.footer .grid-item ul li:not(:last-child) {
    margin-bottom: 2px;
}

.footer .grid-item h5 {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
}

.vl {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #fff;
    height: 150px;
}

hr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #fff;
}


/* FT SECTION */

.ft {
    padding: 20px 8px;
    background-color: #172337;
}

.ft .link ul {
    list-style-type: none;
    display: flex;
}

.ft .link ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding-left: 20px;
    font-weight: 700;
    padding-right: 30px;
}

.ft .link ul li a:hover {
    color: #086ff6;
}

.ft .img-link ul {
    list-style: none;
    padding-left: 0px;
}